%ul.oauth-buttons
  - OAuthAuthorization.providers.each do |provider|
    %li
      = link_to omniauth_authorize_path(:user, provider) do
        = fa_icon(provider)
        %span #{provider.capitalize}アカウントでログイン

.info
  = link_to 'メールアドレスでログイン', new_user_session_path
  ・
  = link_to t('about.about_this'), about_more_path
